<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
   <script>tinymce.init({ selector:'textarea' });</script>
   <style>
       .activ{
           background-color:peachpuff;
       }
   </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2" >
                 <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="list-group list-group-flush">
        <a href="/blog" class="list-group-item list-group-item-action bg-light">My posts</a>
        <a href="/blog/add-new-post" class="list-group-item list-group-item-action  activ">Add new post</a>
        <a href="/publisher" class="list-group-item list-group-item-action bg-light">Publish book</a>
        <a href="/publications" class="list-group-item list-group-item-action bg-light">Publications</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Settings</a>
      </div>
    </div>
    </div>       
    <div class="col-sm-10 mt-5" id="addnew">
        <div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Book title</span>
  </div>
  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
</div>
    <div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">Review</span>
  </div>
  <textarea class="form-control" aria-label="With textarea"></textarea>
</div>
<div>
    <button class="btn btn-primary">Post review</button>
</div>
    
    </div>
        </div>
    </div>
</body>
<script>
    var posts=document.getElementById('posts');

    </script>
</html>