<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrator</title>
    <link href="https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
</head>
<style>
    #title{
        font-family: 'Spicy Rice', cursive;
        font-size:50;
        color:crimson;
        text-align: center;
      }
</style>
<body>
    <div class="container text-center mt-5">
        <h1 id="title">Add a book to database </h1>
    </div>
    <div class="container justify-content-center align-content-center">
    <form class="mt-5">
        <div class="form-group row">
          <label for="inputAuthor" class="col-sm-2 col-form-label">Author</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputAutor" placeholder="Author">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputTitlu" class="col-sm-2 col-form-label">Titlu</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputTitlu" placeholder="Titlu">
          </div>
        </div>
        <div class="form-group row">
            <label for="inputISBN" class="col-sm-2 col-form-label">ISBN</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputISBN" placeholder="ISBN">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputAn" class="col-sm-2 col-form-label">An aparitie</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputAn" placeholder="An">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEditura" class="col-sm-2 col-form-label">Editura</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputEditura" placeholder="Editura">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPic" class="col-sm-2 col-form-label">Coperta</label>
            <div class="col-sm-10">
              <input type="file" class="form-control-file" id="inputPic" placeholder="Coperta">
            </div>
          </div>
        <div class="form-group row">
          <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Upload</button>
          </div>
        </div>
      </form>
      </div>
</body>
</html>