<!-- Copyright (c) Microsoft Corporation.
     Licensed under the MIT License. -->

<!-- <IndexSnippet> -->
  <div class="jumbotron">
    
    {{#if user}}
      <h4>Welcome {{ user.displayName }}!</h4>
      <p>Use the navigation bar at the top of the page to get started.</p>
    {{else}}
     
       <a href="/auth/signin" class="btn btn-primary btn-large">Sign in with Microsoft</a>
    
   {{/if}}
   
  </div>

  <!-- </IndexSnippet> -->