<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
         .activ{
           background-color:peachpuff;
       }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2" >
                 <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="list-group list-group-flush">
        <a href="/blog" class="list-group-item list-group-item-action bg-light">My posts</a>
        <a href="/blog/add-new-post" class="list-group-item list-group-item-action bg-light">Add new post</a>
        <a href="/publisher" class="list-group-item list-group-item-action bg-light">Publish book</a>
        <a href="/publications" class="list-group-item list-group-item-action activ">Publications</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Settings</a>

      </div>
    </div>
    </div>
    <div class="col-sm-10 d-flex flex-row" id="posts">
     
  
 <div class="col-sm-3 mt-5">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Book title</h5>
         <h6 class="card-title">Id request: 7643767vd7</h6>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Status code : published</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3 mt-5">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Book title</h5>
         <h6 class="card-title">Id request: 7643767vd7</h6>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Status code : published</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3 mt-5">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Book title</h5>
         <h6 class="card-title">Id request: 7643767vd7</h6>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Status code : published</a>
      </div>
    </div>
  </div>
    </div>
        </div>
    </div>
</body>

</html>